@charset "utf-8";

html,body {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #000;	/*全体の文字色*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background:#555;/*遷移アニメーションと同じ色を指定*/
	-webkit-text-size-adjust: none;
}
h1,h3,ul,li{margin: 0px;padding: 0px;font-size: 115%;font-weight: normal;}

.Self-introduction
{
	width: 100%;
	height: 100%;
}
h2{
	margin: 0px;
	padding: 0px;
font-size: 20px;
font-weight: normal;
}

p{
	font-size: 20px;	/*文字サイズ*/
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}

#Learned a{
	position: relative;
	left: 35%;
}

#container p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}

/*ロゴ画像*/
header #logo .bb img {
	
	display: block;
	width: 20%;	/*画像の幅*/
	position: absolute;
	left: 40%;		
	bottom: 50%;
	top: -20em;
}

ul {list-style-type: none;}


.url a {
	color: #fff;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #ff4765;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}
/*メニューブロック全体への指定*/
#menubar {
	position: absolute;
	bottom: 20%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	left: 0px;
	width: 100%;
	/*height: 70%;*/
	text-align: center;
}
/*メニュー１個あたりの指定*/
#menubar li {
	display: inline-block;
	margin: 0 1%;
	animation-name: opa1;
	animation-delay: 1S;
	animation-duration: 1S;
	animation-fill-mode: both;
}
#menubar li a {
	text-decoration: none;display: block;text-align: center;
	width: 140px;	/*メニューの幅*/
	color: #f0f0f0;	/*文字色*/
	border-bottom: 2px solid transparent;	/*下線の幅、線種、色。transparentは透明の事。*/
	padding-bottom: 7px;	/*下線と文字の間にとる余白*/
}
/*マウスオン時の指定*/
#menubar li a:hover {
	border-bottom: 2px solid #fff;	/*下線の幅、線種、色*/
	letter-spacing: 0.1em;			/*文字間隔を少しだけ広くする指定。そのままがいいならこの１行を削除。*/
}
/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
body .nav-fix-pos-pagetop a {
	display: none;
}
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;position: fixed;animation-name: opa1;animation-duration: 1s;animation-fill-mode: forwards;
	width: 60px;		/*ボタンの幅*/
	line-height: 60px;	/*ボタンの高さ*/
	bottom: 50px;		/*画面の下からの配置場所指定*/
	right: 3%;			/*画面の右からの配置場所指定*/
	background: #555;	
	background: rgba(0,0,0,0.5);	/*背景色。0,0,0は黒の事で、0.5は色が50%出た状態の事。*/
	color: #fff;		/*文字色*/
	border-radius: 50%;	/*円形にする指定。この１行を削除すると正方形になります。*/
}
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*マウスオン時の背景色*/
}

header{
	height: 100%;
	overflow: auto;
	background-color: #444;
}
#container{
	max-width: 1400px;	/*最大幅。これ以上広くならない指定。*/
	margin: 0 auto;
	
}
#contents {
	overflow: hidden;
	padding: 50px 3%;
}

/*自己紹介内にある見出し設定*/
#contents h2 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 20px;		/*文字サイズ*/
	text-align: center;		/*文字をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする指定*/
	background: #000;	/*背景色*/
	color: #fff;			/*文字色*/
	border-radius: 100px;	/*角を丸くする指定。大きめであれば適当で構いません。*/
}

#Self-introduction
{
	font-size: 23px;
}

#Hobbies
{
	font-size: 23px;
}
/*========= ローディング画面のためのCSS ===============*/

#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

.splashbg{
    display: none;
	content: "";
	position:fixed;
	transform: scale(100);
	background-color: #f0f0f0;/*伸びる背景色の設定*/
	z-index: 999;
    /*丸のスタートの形状*/
    top:calc(50% - 1rem);/*50%から円の半径を引いた値*/
    left:calc(50% - 1rem);/*50%から円の半径を引いた値*/
	width: 2rem;
	height: 2rem;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    border-radius: 50%;	
	animation-name:PageAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes PageAnime{
	0% {/*丸のスタート位置と形状*/
		transform: scale(100);
	
	}
	100% {/*丸の終了位置と形状*/
		transform: scale(0);
		display: none;/*終了時は消える*/
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
	opacity: 0;/*はじめは透過0に*/
}
#menubar{
	opacity: 0;/*はじめは透過0に*/
}
/*bodyにappearクラスがついたら出現*/
body.appear #menubar{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}
/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}
/*透過戻す処理*/
@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

.slider {
    position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 80vh;
}
/*背景画像設定*/

.slider-item01 {
    background:url(img/Fortnite.jpg);
}

.slider-item02 {
    background:url(img/Apex.jpg);
}


.slider-item {
    width: 50%;
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slick-dots {
	position: relative;
	z-index: 3;
	  text-align:center;
	margin:-50px 0 0 0;
  }
  
  .slick-dots li {
	  display:inline-block;
	margin:0 5px;
  }
  
.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
	z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

